# Ignore the virtual environment
.venv/
venv/
ENV/

# Ignore local Docker/Portainer data
portainer_data/
postgres_data/
grafana/data/


# Ignore Python artifacts
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE settings
.vscode/
.idea/

# Ignore git metadata
.git
.gitignore

# =========================
# PYTHON & BACKEND
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/

# =========================
# REACT & FRONTEND (Vite)
# =========================
hydro-frontend/node_modules/
hydro-frontend/dist/
hydro-frontend/dist-ssr/
hydro-frontend/*.local
hydro-frontend/.npm/

# Logs npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# INFRA & DOCKER
# =========================
# Ne jamais commiter les variables d'environnement
.env
.env.*
docker-compose.override.yml

# Volumes de bases de données montés en local (si tu les as mis dans le repo)
pgdata/
minio_data/
mosquitto_data/
redis_data/

# OS générés
.DS_Store
Thumbs.db